/*
Cores

50a240 vd claro
2a5521 vd escuro
1e76b1 az claro
114264 az escuro
*/

body{
    display: block;
    margin: 0 auto;
    padding: 0;
    position:relative;
    font-family: 'Poppins', 'Helvetica', sans-serif;
    height: 100vh;
    background-color: #EEF5FF;
    
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-bottom: 0;
    width: 100%;
    margin-bottom: 1em;
    
}

div#logo{
    margin: auto 0;
}

div#logo img{
    vertical-align: middle;
    margin-left: 2em;
}

div#logo span{
    font-size: 2em;
    vertical-align: middle;
    margin-left: 0.5em;
    font-weight: 800;
}

div#usuarioInfo{
    text-align: right;
    justify-content: space-between;
}

div#usuarioInfo a.botao{
    border: 1px solid white;
    background-color:#2A5C72;
}

div#usuarioInfo{
    display: inline-block;
    margin-bottom: auto;
}

div#usuarioInfo span{
    display: block;
}

div.user-header{
    justify-content: end;
    vertical-align: middle;
    display:inline-block;
    margin-bottom: 0;
    margin-right: 2em;
}

div.user-header img{
    margin-top: 1em;
    margin-left: 0.5em;
}

.user-nome{
    font-weight: 500;
}

.user-papel{
    font-weight: 300;
}

.botao.icone{
    width: 2em;
    color: white;
}

/*Main*/
/* main{
    padding: 1em;
} */

/* NAV */
nav{
    margin: 0.5em;
    background-color: #2A5C72;
    margin: 0;
    text-align: center;
    border: none;

}

nav ul li{
    display: inline-block;
}

nav ul li a{
    margin-top: 0.5em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}

nav ul li a:hover{
    color: #9ccff1;
}

nav div#dropdown_menu{
    display: none;
    position: absolute;/*saindo da hierarquia deposição*/
    background-color: #2A5C72;
}

nav ul li#dropdown:hover div#dropdown_menu{
    display: block;
}

nav div#dropdown_menu a{
    display: block;
}
nav{
    border: none;
}

form.inativo {
    display: none;
}

nav select#mobile-menu {
    display: none;
}

form#mobile-menu-form {
    width: 100%;
    margin: 0;
    border: 0;
}

ul#menu-principal {
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
    position: relative;
}

/*Tabela*/
div.box-tabela{
    width: 90%;
    height: auto;
    padding: 1em;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 5em auto;
}

table{
    width: 100%;
    border-spacing: 0.1em;
    margin: 1em auto;    
    /*Responsivo*/
    display: block;
    overflow-x: auto;
}

table tr, table td{
    border: 0px;
}

table th{
    background-color: #EEF5FF;
    border-radius: 5px;
    
}

table tr, table td{
    padding: 0.5em;
    text-align: center;
}

table tfoot td {
    text-align: center;
    /*background-color: #114264;
    color: white;*/
    border-top: 3px solid #2A5C72;
}

table tbody td:last-child, table tbody td.fit{
    width: 1%;
    white-space: nowrap;
}

/*Comandos*/

div#comandos{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    margin-top: 1em;
}

div#comandos a{
    margin: auto 0;
}

/*Links e botões*/
a.botao,
input[type="button"],
input[type="submit"] {
    background-color: #50a240;
    color: white;
    font-weight: 600;
    font-family: "poppins";
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

a.botao:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #2a5521;
}

input, select, a.botao {
    font-size: 1em;
    height: 2em;
}

input[type="button"],
input[type="submit"]{
    height: 2em;
}

a.botao{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.5em;
    box-sizing: border-box;
}

a.excluir, #cancelar{
    background-color: rgb(178, 0, 0);
}
a.botao#add, a.botao.azul{
    background-color: #114264;
}
a.excluir:hover, #cancelar:hover{
    background-color: rgb(115, 0, 0);
}
a.botao.confirmacao,
a.botao.chegada,
a.botao.iniciar,
a.botao.finalizar {
    width: 6.5em;
}

a.botao.confirmacao {
    background-color: #f1ff70;
    color:sienna;
}

a.botao.confirmacao:hover {
    background-color: #d5ee31;
    color:sienna;
}

a.botao.chegada {
    background-color: #f5c62d;
}

a.botao.chegada:hover {
    background-color: #b5a40f;
}

a.botao.inativo {
    display: none;
}

a.botao.iniciar,
a.botao.finalizar {
    width: 5.5em;
}

/*Formulário*/

form#formCadastro{
    margin: auto;
    width: fit-content;
    text-align: right;
}

form h2{
    text-align: center;
    color: #2a5521;
}

form div.grid{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

form label::after{
    content: ":";
}

form input, form select{
    height: 2em;
    border: 1px solid #757575;
    border-radius: 5px;
    box-sizing: border-box;
}

form div.grid input,
form div.grid select{
    width: 18em;
}

input:invalid,
select:invalid{
    border: 1px solid red;
}

form div.grid input[type="date"] {
    font-family: inherit;
}

form div.grid input[type="checkbox"] {
    margin-left: 0;
    width: 1.25em;
}

/*footer e header*/

footer {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-top: auto;
}

footer, header{
    background-color: #2A5C72;
    color: white;
    padding: 0.5em;
}

footer span{
    margin-bottom: 0.5em;
    display: block;
}

footer a,header a{
    color: inherit;
}

/* PARA IMPRIMIR*/
@media print {
    table th, input.botao, a.botao {
        color: black;
        
    }
    table th, table td{
        border: 1px solid black;
    }

    header, nav, div#comandos{
        display: none;
    }
}


/*RESPONSIVO*/

@media screen and (max-width:1200px){
    header{
        position: relative;
        margin: auto;
    }
    nav{
        position:relative;
        margin: 0;
        width: 100%;
        text-align: center;
        border: none;
        padding: 0;
    }
    .user-header{
        margin-right: 2em;
    }
    
}
@media screen and (max-width: 800px){

    form.inativo {
        display: none;
    }
   
    nav form#mobile-menu-form {
        display: inline-block;
    }

    nav select#mobile-menu {
        font-family: 'poppins';
        display: inline-block;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius:0;
        border: none;
        outline: none;
        padding: 0 0.5em;
    }

    #mobile-menu {
        width: 100%;
        background-color: #2A5C72;
        color: white;
    }

    input[type="button"], input[type="submit"]{
    width: 100%;
    margin-top: 0.5em;
    }

    nav ul#menu-principal {
        display: none;
    }

    div.box-tabela{
        margin: 0.5em;
        padding: 1em;
    }

    div#comandos {
        flex-direction: column;
        
        
        gap: 1em;
    }

    div#comandos a {
        width: 100%;
        text-align: center;
        margin-top: 0.5em;
    }

    footer{
        position: relative;
    }
}

@media screen and (max-width: 450px) {
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }

    div#logo {
        width: 50%;
        display: flex;
        margin-left: 1em;
        justify-content: left;
        align-items: center;
    }

    div#logo img {
        margin-left: 0;
    }
    
    div#usuarioInfo {
        width: 100%;
        margin-top: 1em;
        text-align: left;
        display: inline-block;
    }

    div#usuarioInfo a.botao {
        width: 100%;
        text-align: center;
    }

    div#usuarioInfo {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }

    div.user-header {
        align-items: center;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
        
    }

    div span.user-nome, div span.user-papel{
        text-align: right;
    }

    form.inativo {
        display: none;
    }

    form#formCadastro{
        text-align: left;
        width: 90%;
    }

    form div.grid {
        grid-template-columns: 1fr;
        text-align: left;
    }

    form div.grid input, form div.grid select, #dataNascimento{
        width: 100%;
    }

}
